body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    flex-direction: column; 
    align-items: center;
    height: 100vh;
    margin: 0;
    text-align: center;
    background-color: #f0f0f0;
}

.slider {
    position: relative;
    width: 80%;
    max-width: 600px;
    margin: 20px auto;
    overflow: hidden;
    border-radius: 10px;
}

.slide {
    width: 100%;
    display: none;
}

.slide.active {
    display: block;
}

button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0,0,0,0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}


#prev {
    left: 10px;
}

#next {
    right: 10px;
}

