body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #f4f4f4;
}

body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #f4f4f4;
}

input {
  padding: 10px;
  width: 200px;
  margin-bottom: 10px;
}

button {
  padding: 10px 15px;
  cursor: pointer;
}

.qr-box {
  margin-top: 20px;
}

img {
  width: 150px;
}